<div class="d-flex justify-content-center my-3">
  <%= simple_form_for(@dog) do |d| %>
    <%= d.input :name %>
    <%= d.input :birthday %>
    <%= d.input :size %>
    <%= d.input :breed %>
    <%= d.input :address %>
    <%= d.input :image, as: :file, label: "picture of your dog" %>
    <%= d.submit %>
  <% end %>
</div>
