<div class="container justify-content-center my-5" >
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="d-flex justify-content-between align-items-center dog-header">
        <h2><%= @dog.name %></h2>
        <div class="d-flex justify-content-end dog-nav-links">
          <%= link_to "Back to Gallery", dogs_index_path %>
          <%= link_to "Previous", dog_path(@dog.previous_dog) if @dog.previous_dog %>
          <%= link_to "Next", dog_path(@dog.next_dog) if @dog.next_dog %>
        </div>
      </div>

      <%= cl_image_tag @dog.photo.key, style: "width: 100%", class: "mb-5 mt-3 dog-photo" %>

      <div class="d-flex flex-wrap border-bottom border-dark">
        <div class="d-flex  dog-attribute"><h3>BIRTHDAY</h3><span><%= @dog.birthday %></span></div>
        <div class="d-flex  dog-attribute"><h3>SIZE</h3><span><%= @dog.size %></span></div>
        <div class="d-flex  dog-attribute"><h3>BREED</h3><span><%= @dog.breed %></span></div>
        <div class="d-flex  dog-attribute"><h3>ADDRESS</h3><span><%= @dog.address %></span></div>
      </div>
      <div class="d-flex flex-column my-5 dog-review">
        <div class="d-flex flex-row justify-content-between mb-2">
       <% @dog.reviews.each do |review| %>

        <h4><%= review.user.first_name %> <%= review.user.last_name %></h4>
          <div>
            <% review.rating.times do  %>
            <i class="fa-solid fa-paw"></i>
            <% end %>
          </div>
        </div>
        <p>
          <%= review.comment %>
        </p>
      </div>
       <% end %>

    </div>

    <div class="col-4">
      <%= simple_form_for [@dog, @booking] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.submit "Submit booking", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<% if @user_booking %>
  <%= simple_form_for([@user_booking, @review]) do |f| %>
    <%= f.input :comment %>
    <%= f.button :submit %>
  <% end %>
<% end %>

<%= link_to "Back to all dogs", dogs_path %>
